@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}
.image-container{
  outline: none;
  height: 99.9vh;
  width:800px;
  background-color: #5271ff;
}


.login-form{
  outline: none;
  height: 99.9vh;
  width:736px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
img{
  padding-top:70px;
  padding-left: 40px;
}
.items{

  height: 250px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.input{
  height: 40px;
  width:350px;
  border-radius: 5px;
  font-size: 16px;
  border:0.5px solid lightgray;
  padding-left: 10px;
  box-sizing: border-box;
}



.button{
  width:350px;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(51, 51, 255);
  opacity: 0.89;
  font-size: 16px;
  color:white;
  cursor: pointer;
  
}

button:hover{
  box-shadow: 2px 2px 6px 6px lightgrey;
  opacity: 1;
}

