@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #4e72df;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0%;
}

.header {
  width: inherit;
  height: 10vh;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 0 50px #e0e1e4;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0c0c;
  height: 100vh;
  width: 20vw;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}

.sidebar a {
  padding: 20px 20px 20px 20px;
  margin: 20px 10px;
  background-color: #0d0c0c;
  color: #4e72df;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: bold;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  position: relative;
  display: block;
  display: flex;
  text-decoration: none;
}

.challanLogo {
  padding: 20px 20px 20px 20px;
  margin: 20px 10px;
  color: #ffffff;
  border: none;
  font-size: x-large;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
  display: flex;
}

.sidebar hr {
  color: grey;
  visibility: hidden;
}

#logout-btn {
  padding: 20px 20px 20px 20px;
  margin: 390px 10px;
  background-color: #0d0c0c;
  color: #4e72df;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: bold;
  align-items: center;
}

.challan-overview {
  background-color: #fdfdff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  /* overflow: hidden; */
  width: 951px;
  /* max-width: fit-content; */
  padding: 30px 40px;
  margin-right: 1px;
  margin-left: 260px;
  height: 200px;
  margin-bottom: 20px;
}
.header {
  margin: 010px;
}

/* .header h2 {
  background-color: #fafaff;
  border-bottom: 1px #f0f0f0;
  padding: 20px 40px;
  overflow: hidden;
} */

.challan-overview label {
  display: inline-block;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
