@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8fc;
}

.logo{

    padding-top: 40px;
    padding-left: 70px;

}

.sidebar{

    background-color: #3C4B64;
    height: 100vh;
    width: 250px;
}

.menu-list{

    margin-top: 60px;
}

.menu-list li{

  width: 100%;
  height: 50px;
  text-align: center;


}

.links{
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
    font-size: 20px;

}
